body {
   background-color: black;
}

.container {
    height: 1500px;
    width: 1500px;
}

.square {
    width: 5%;
    height: 100%;
    margin: 3px;
    border-radius: 5px;
}

h3, h5{
    margin: 0;
}

.align {
    text-align: center;
}

.row1 {
    width: 100%;
    height: 5%;
    margin: 5px;
    display: flex;
}

.row2 {
    width: 100%;
    height: 5%;
    margin: 5px;
    display: flex;
}

.row3 {
    width: 100%;
    height: 5%;
    margin: 5px;
    display: flex;
}

.row4 {
    width: 100%;
    height: 5%;
    margin: 5px;
    display: flex;
}

.row5 {
    width: 100%;
    height: 5%;
    margin: 5px;
    display: flex;
}

.emptysquare1 {
    width: 88.8%;
    height: 100%;
}
.emptysquare2 {
    width: 55.5%;
    height: 100%;
}

.emptysquare3 {
    width: 16.7%;
    height: 100%;
}

.blue {
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.lavender {
    color: lavender;
    border: 1px solid lavender;
}

.green {
    color: green;
    border: 1px solid green;
}

.yellow {
    color: yellow;
    border: 1px solid yellow;
}

.orange {
    color: orange;
    border: 1px solid orange;
}

.pink {
    color: pink;
    border:1px solid pink;
}

.violet {
    color: violet;
    border: 1px solid violet;
}

.gray {
    color: gray;
    border: 1px solid gray;
}

.aquamarine {
    color: aquamarine;
    border: 1px solid aquamarine;
}

.aqua {
    color: aqua;
    border: 1px solid aqua;
}

footer{
    font-size: large;
    color: white;
}